<div class="bloc l-bloc" id="bloc-2">
	<div class="container bloc-no-padding">
		<div class="row voffset-md">
			<div class="offset-lg-1 col-lg-5 offset-md-1 col-md-5 offset-sm-1 col-sm-10 col-10 offset-1">
				<form action="https://formspree.io/f/xqadbwyr" method="POST">
					<div class="field">
						<label for="discord-name">Discord Name</label>
						<input type="text" name="discord-name" id="discord-name" required />
					</div>
					<div class="field">
						<label for="steam-name">Steam Name</label>
						<input type="text" name="steam-name" id="steam-name" required />
					</div>
					<div class="field">
						<label for="age">Age</label>
						<input type="text" name="age" id="age" required />
					</div>
					<div class="field">
						<label for="languages">Languages</label>
						<input type="text" name="languages" id="languages" required />
					</div>
					<div class="field">
						<label for="roles">What roles do you enjoy?</label>
						<textarea name="roles" id="roles" rows="3" required></textarea>
					</div>
					<div class="field">
						<label for="where">From where did you learn of the HORDE?</label>
						<textarea name="where" id="where" rows="3" required></textarea>
					</div>
					<div class="field">
						<label for="past">What other regiments have you been part of?</label>
						<textarea name="past" id="past" rows="3" required></textarea>
					</div>
					<div class="field">
						<label for="why">Why do you want to join the HORDE?</label>
						<textarea name="why" id="why" rows="3" required></textarea>
					</div>
					<div class="field">
						<label for="friends">Who do you know in the HORDE?</label>
						<textarea name="friends" id="friends" rows="3" required></textarea>
					</div>
					<div class="field">
						<input type="checkbox" name="rules" id="rules" required></input>
						<label for="rules">I have read and agree with the Discord/Teamspeak rules.</label>
					</div>
					<div class="field">
						<input type="checkbox" name="trial" id="trial" required></input>
						<label for="trial">I am aware of the two week active trial period to join.</label>
					</div>
					<div class="actions">
						<input type="submit" value="Submit" class="submit" />
					</div>
				</form>
			</div>
			<div class="col-sm-8 offset-sm-2 col-lg-4 offset-lg-1 offset-md-0 col-md-5">
				<h1 class="mg-md">
					Enlist today!
				</h1>
				<p class="youya-p">
					With the HORDE, you're not just another rank and file. We all work together in the cause of purging the Wardens from the green lands of Mesea! We'll take to any action required to get the job done, be it routing logistics through to rough frontline locations, manning coordinated armor assaults, running artillery barrages, or whatever need be.
				</p>
				<p class="youya-p">
					If you are interested in joining the HORDE, rendezvous with us on the battlefield or patch into our communications systems! We require recruits to actively play with the HORDE for two weeks before being potentially accepted.
				</p>
			</div>
		</div>
	</div>
</div>